{% extends "base.html.twig" %}

{% block body_id 'form-index' %}

{% block bodyBase %}
    {{ parent() }}
{% endblock bodyBase %}

{% block topRightMenu %}
    <div class="ui large top fixed hidden menu">
        <a class="active item">表单管理</a>
        <div class="right menu">
            <div class="item">
                <a class="ui button" id="save">保存</a>
            </div>
            <div class="item">
                <a class="ui button">Log in</a>
            </div>
            <div class="item">
                <a class="ui primary button">Sign Up</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block pageContent %}
    <div class="ui grid container">
        <div class="two wide column">
            <div class="left ui rail">
                <div class="ui sticky" id="left-buttons">
                    <div id="health-attribute" class="ui segments">
                        <div class="ui segment health value">
                            <div class="ui top attached label">常规类型</div>
                            <div class="ui grid health-inline-box">
                                <div class="draggable sixteen wide column fluid ui button" id="button-grid-1">Grid 1</div>
                                <div class="draggable sixteen wide column fluid ui button" id="button-grid-2">Grid 2-2</div>
                                <div class="draggable sixteen wide column fluid ui button" id="button-grid-3">Grid 3-3-3</div>
                                <div class="draggable sixteen wide column fluid ui button" id="button-grid-4">Grid 4-4-4-4</div>
                                <div class="draggable sixteen wide column fluid ui button" id="button-grid-5">Grid 5-5-5-5-5</div>
                                <div class="equal width row">
                                    <div class="draggable column fluid ui button" id="button-text">Text</div>
                                    <div class="draggable column fluid ui button" id="button-textarea">TextArea</div>
                                </div>
                                <div class="equal width row">
                                    <div class="draggable column fluid ui button" id="button-integer">Integer</div>
                                    <div class="draggable column fluid ui button" id="button-money">MoneyType</div>
                                </div>
                                <div class="equal width row">
                                    <div class="draggable column fluid ui button" id="button-password">Password</div>
                                    <div class="draggable column fluid ui button" id="button-date">DateType</div>
                                </div>
                                <div class="equal width row">
                                    <div class="draggable column fluid ui button" id="button-datetime">DateTime</div>
                                    <div class="draggable column fluid ui button" id="button-checkbox">Checkbox</div>
                                </div>
                                <div class="equal width row">
                                    <div class="draggable column fluid ui button" id="button-radio">Radio</div>
                                    <div class="draggable column fluid ui button" id="button-file">File</div>
                                </div>
                                <div class="equal width row">
                                    <div class="draggable column fluid ui button" id="button-choice">Choice</div>
                                    <div class="draggable column fluid ui button" id="button-collection">Collection</div>
                                </div>
                                <div class="equal width row">
                                    <div class="draggable column fluid ui button" id="button-button">Button</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fourteen wide column">
            <div class="ui transparent huge input" id="form-name-div">
                <input type="text" id="form-name" size="50">
            </div>
            <div id="form-container">
                <form name="form-new" method="post" class="ui form form-horizontal">
                    <div id="form-canvas" class="canvas ui grid">
                    </div>
                </form>
            </div>
            <div class="right ui rail" style="margin-left: 0;padding-left: 0;">
                <div class="ui sticky" id="right-attribute">
                    <div id="right-health-attribute" class="ui segments">
                        <div class="ui segment health value" id="attribute-box">
                            <div class="ui top attached label">字段属性</div>
                            <div class="ui grid health-inline-box">
                                <form class="ui form">
                                    <div class="field">
                                        <label>名称</label>
                                        <input type="text" name="name" placeholder="" id="name">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}